/*! Mobile start */
@media only screen and (max-width: 414px) {
	/* header */
	header {
		height: calc(100vh - 80px);
		background-image: url("../media/video/mobile/mobile-home-page.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	video {
		display: none;
	}

	/* Package section start */
	.packages-title {
		font-size: 40px !important;
	}
	.handmake-Package {
		height: auto;
		padding: 0;

		display: grid;
		grid-gap: 1em;
		grid-template-rows: repeat(3, 300px);
	}
	/* Pictures Packages */
	.bg-package-individual,
	.bg-package-groups,
	.bg-package-family {
		width: inherit;
	}

	.bg-package-individual {
		grid-area: 1/1/2/-1;
	}
	.bg-package-groups {
		grid-area: 2/1/3/-1;
	}
	.bg-package-family {
		grid-area: 3/1/-1/-1;
	}
	.show-package {
		align-items: end;
	}
	.show-package .hide {
		display: block;
	}

	.hide {
		color: rgb(0, 0, 0);
		border: none;
		font-weight: 500;
	}
	.individual-package-photo:hover {
		background: url("../media/skii&Snowing/packages/individual.jpg");
	}

	.groups-package-photo:hover {
		background: url("../media/skii&Snowing/packages/group2.jpg");
	}
	.family-package-photo:hover {
		background: url("../media/skii&Snowing/packages/family.jpg");
	}

	.packages-text {
		width: 90%;
		padding: 40px 5px;
	}
	/* Package section end */

	/* Luxury section start */
	.bg-luxury {
		width: 100%;
		background-color: #0dcaf0;

		display: grid;
		grid-gap: 0;
		grid-template-rows: 1.3fr 1fr;
	}
	.luxury-info {
		grid-area: 1/1/2/-1;
	}
	#carouselLuxuryControls {
		grid-area: 2/1/-1/-1;
	}
	.luxury-p {
		font-size: 16px;
	}
	.luxury-text {
		width: 90%;
		margin: auto;
	}
	.img-luxury-carousel {
		height: 300px;
	}
	/* Luxury section end */

	/* holidays section start */
	section#holidays {
		width: 90% !important;
	}
	.holidays-title {
		text-align: center;
		padding: 0;
	}
	.holidays-info {
		width: 100%;
	}
	.container.mb-5 {
		width: 95% !important;
	}
	h2.title-second-section {
		width: 80%;
		margin: auto;
		font-weight: 700;
	}
	.container.mb-5 {
		width: 90%;
	}

	.my-row-holidays.row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	.img-holidays-tall.w-100.h-100 {
		height: 400px !important;
	}

	/* holidays section end */

	/* equipment section start */
	#equipment {
		width: 100%;
		padding: 0;
	}
	.equipment-title.py-4 {
		text-align: center;
		margin-bottom: 0;
		padding: 0;
	}
	.equipment-text {
		padding-bottom: 30px;
		width: 90%;
	}
	#carousel-web {
		display: none;
	}
	.card-equipment-phone.bg-light {
		/* height: 450px; */
		padding-left: 0;
		padding-right: 0;
	}
	.phones-cards {
		width: 100%;
		margin: auto;
		display: block;
		padding: 0;
	}

	.card-img-top-phone {
		height: 200px;
		width: 100%;
	}
	.card-body-phone {
		height: 200px;
	}
	.card-title-phone {
		padding-top: 10px;
	}
	.card-text-phone {
		width: 100%;
		padding: 10px 0;
	}
	/* equipment section end */

	/* Section: forfaits start */
	.forfaits-info {
		width: 100%;
	}
	.forfaits-title {
		text-align: center;
		margin: 0 !important;
	}
	.forfaits-title.d-flex.justify-content-center {
		margin-top: 40px !important;
	}

	.forfaits-text.my-5 {
		width: 100%;
		margin: 20px auto 20px auto !important;
	}
	.handmade-forfaits {
		display: grid;
		grid-gap: 0;
		grid-template-rows: repeat(3, 300px);
		grid-template-columns: 1fr;
	}
	.left-picture {
		grid-area: 1/1/2/-1;
	}
	.middle-picture {
		grid-area: 2/1/3/-1;
	}
	.right-picture {
		grid-area: 3/1/-1/-1;
	}
	.short-img-handmade {
		width: 100%;
		height: 300px;
	}
	.img-handmade {
		width: 100%;
		height: 300px;
	}
	/* Section: forfaits end */
	/* new section start */
	.container-packages-top {
		width: 90%;
	}
	.container-table-jsPrices {
		flex-direction: column;
		margin-bottom: 50px;
	}
	/* new section equipment */
	.container-table-text {
		width: 100%;
		margin-right: 0;
	}
	.discount-description {
		margin-top: 24px;
	}
	/* new section booking */
	.right-prices {
		width: 100%;
		margin-left: 0;
		margin-top: 50px;
		padding: 20px;
	}
	#jsPrices {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
	}
	#photo {
		width: 100%;
	}
	.tablet-form {
		width: 100%;
		padding-top: 20px;
		padding-left: 0;
	}
	/* Footer start */
	.ski-footer {
		margin-top: 300px;
	}
	/* Footer end */

	/*! Mobile end */
}

/* ! Media query tablet start */
@media only screen and (max-width: 768px) {
	/* header - movie start */
	header {
		height: calc(100vh - 80px);
		background-image: url("../media/video/mobile/mobile-home-page.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	video {
		display: none;
	}
	/* header - movie end */

	/* Package section start */
	.packages-title {
		font-size: 50px !important;
		padding: 0 0 5px;
		color: rgb(0, 0, 0) !important;
	}
	.handmake-Package {
		padding: 0;
	}

	.packages-text {
		width: 90% !important;
		margin: auto;
	}
	.show-package {
		align-items: end;
	}
	.show-package .hide {
		display: block;
	}

	.hide {
		color: rgb(0, 0, 0);
		border: none;
		font-weight: 500;
	}
	/* Package section end */

	/* Luxury section start */
	.luxury.my-5 {
		margin: 900px 0;
	}
	.bg-luxury {
		grid-template-columns: repeat(2, calc(100% / 2));
	}

	.luxury-text {
		width: 80%;
	}
	.img-luxury-carousel {
		height: 401px;
	}

	h2.luxury-title {
		margin-bottom: 0;
	}
	.luxury-text {
		width: 90% !important;
		padding: 0;
	}
	.luxury-p {
		font-size: 16px;
	}
	/* Luxury section end */

	/* holiday section start */
	#holidays,
	#equipment,
	#forfaits {
		width: 100%;
	}
	.holidays-title.d-flex.justify-content-center {
		width: 100% !important;
		text-align: center !important;
		padding: 0;
	}
	.holidays-info {
		width: 90% !important;
	}
	.holidays-text.my-5 {
		width: 100% !important;
		margin: 20px auto !important;
	}
	.container.mb-5 {
		width: 80%;
		margin: auto;
	}
	/* holidays section end */

	/* equipment section start */
	#equipment {
		padding: 0;
	}
	.container {
		padding: 0;
	}
	.col.col-sm-12.col-md-12.col-lg-4 {
		width: 100%;
	}
	.equipment-title.py-4 {
		margin: 0 auto;
		text-align: center;
		padding-top: 0 !important;
	}

	.equipment-text {
		width: 80%;
		margin: auto;
		padding-bottom: 40px;
	}
	.col.col-8.col-sm-12.p-0 {
		margin-top: 30px;
	}
	.card-equipment {
		width: 60%;
		border-radius: 5px;
		border-color: blue;
	}
	.card-text {
		font-size: 15px;
	}
	/* Equipment start */
	#carousel-web {
		display: none;
	}
	.card-equipment-phone.bg-light {
		width: 50%;
		height: 450px;
		margin: auto;
		background-color: rgb(255, 255, 255) !important;
	}
	.phones-cards {
		width: 100% !important;
		margin: auto;
		display: block;
		padding: 0;
	}
	.row.d-flex.forfaits-title.d-flex.justify-content-center {
		display: flex;
		flex-direction: row;
	}
	.card-img-top-phone {
		height: 200px;
		width: 100%;
	}
	.card-body-phone {
		height: 200px;
	}
	.card-title-phone {
		padding-top: 10px;
	}
	.card-text-phone {
		width: 100%;
		padding: 10px 0;
	}
	/* Equipment end */
	/* equipment section end */

	/* Section: forfaits start */
	#forfaits {
		width: 90%;
		margin: 0 auto 40px;
		padding: 0;
	}
	.forfaits-title.d-flex.justify-content-center {
		margin-top: 80px !important;
	}

	.forfaits-text {
		width: 90% !important;
		margin-top: 20px !important;
	}
	.handmade-forfaits {
		width: 90%;
	}
	/* Section: forfaits end */
}
/*! Tablet end */
