* {
	margin: 0;
	padding: 0;
}
/* carousel start */
.myCarouselWinterAdventures {
	height: 500px;
	width: 50%;
	margin: auto;
}

.carousel,
.carousel-inner {
	height: 400px;
	margin-top: 30px;
}
/* carousel end */

/* section accomodation start */
.ovalEffectAccommodation {
	height: 450px;
	width: 100%;
	margin: auto 0;
	clip-path: ellipse(49% 37% at 50% 50%);
}
/* section accomodation end */

/*!new section start */
.new-section {
	width: 80%;
	margin: 60px auto;

	display: flex;
	flex-direction: row;
}
/* left section: weather and book container */
h4 {
	color: #008ed6;
}

.container-weather-book {
	width: 35%;
	margin-right: 20px;
}
/* weather */
.row-weather {
	margin-bottom: 40px;
}
.card {
	padding: 20px;
}
.card-title-weather {
	margin-bottom: 20px;
}
.card-content-weather {
	display: flex;
	flex-direction: row;
}
/* book */
.middle-book {
	display: flex;
	justify-content: center;
}
.text-accomodation {
	width: 182px;
}
#photo {
	width: 100%;
	height: 300px;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
input,
select,
#Book {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}
#Book {
	margin-top: 5px;
}
/* right section: map */
.container-map {
	margin-left: 15px;
	width: 65%;
	padding-top: 30px;
	background-color: rgb(245, 245, 245);
	border-radius: 20px;
}
.address-accommodation {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: auto;
}
.middle {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.bi-geo-alt {
	font-size: 25px;
	color: rgb(32, 32, 36);
}
#mapContainer {
	padding: 5px;
	margin-top: 40px;
}
/*!new section finish */
/* Media query tablet start */
@media only screen and (max-width: 900px) {
	/* carousel start */
	.myCarouselWinterAdventures {
		width: 85%;
	}
	/* carousel end */
}
/* Media query tablet end */

/* Media query Mobile start */
@media only screen and (max-width: 600px) {
	/* carousel start */
	.myCarouselWinterAdventures {
		height: 350px;
		margin: 0 !important;
		width: 100vw !important;
	}
	.title-carousel {
		padding-left: 20px;
	}

	#tignesCarousel,
	.carousel-inner {
		height: 250px;
	}
	/* Carousel end*/

	/* section services start */
	.section-services.mt-5 {
		margin-top: 0 !important;
	}
	/* section services end*/

	/* section accomodation start */
	#services {
		max-width: 90%;
	}
	/* section accomodation end */
}
/* Media query Mobile end */
