* {
	margin: 0;
	padding: 0;
}
/* carousel start */
.myCarouselWinterAdventures {
	height: 500px;
	width: 50%;
	margin: auto;
}

.carousel,
.carousel-inner {
	height: 400px;
	margin-top: 30px;
}
/* carousel end */

/* section accomodation start */
.ovalEffectAccommodation {
	height: 450px;
	width: 100%;
	margin: auto 0;
	clip-path: ellipse(49% 37% at 50% 50%);
}
/* section accomodation end */

/*!new section start */
.new-section {
	width: 80%;
	margin: 60px auto;

	display: flex;
	flex-direction: row;
}
/* left section: weather and book container */
h4 {
	color: #008ed6;
}

.container-weather-book {
	width: 35%;
	margin-right: 20px;
}
/* weather */
.row-weather {
	margin-bottom: 40px;
}
.card {
	padding: 20px;
}
.card-title-weather {
	margin-bottom: 20px;
}
.card-content-weather {
	display: flex;
	flex-direction: row;
}
/* book */
.middle-book {
	display: flex;
	justify-content: center;
}
.text-accomodation {
	width: 182px;
}
#photo {
	width: 100%;
	height: 300px;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
input,
select,
#Book {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}
#Book {
	margin-top: 5px;
}
/* right section: map and equipment */
.right-section {
	width: 65%;
	margin-left: 15px;
}
.container-map {
	padding-top: 30px;
	background-color: rgb(245, 245, 245);
	border-radius: 20px;
}
.address-accommodation {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: auto;
}
.middle {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}
.bi-geo-alt {
	font-size: 25px;
	color: rgb(32, 32, 36);
}
/*!new section finish */
/* Media query tablet start */
@media only screen and (max-width: 768px) {
	/* carousel start */
	.myCarouselWinterAdventures {
		width: 85%;
	}
	/* carousel end */
}
.go-packages {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
.adv-equipment {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}
.text-adv-equipment {
	color: #008ed6;
}
.link-go-packages {
	color: #000000;
	text-decoration: none;
}
.link-go-packages:hover {
	color: #008ed6;
}
.photo-adv-equipment {
	border-radius: 10px;
}

/* new section start */
.new-section {
	width: 90%;
	/* margin: 20px auto;
    display: flex;
    flex-direction: row; */
}
/* map */
.address-accommodation {
	width: 70%;
}
#mapContainer {
	margin: 0 !important;
	width: 47vw;
	height: 52vh;
}
element.style {
	width: 100vw !important;
	height: 96vh !important;
}

/* equipment */
.adv-equipment {
	margin-left: 9px;
}
.photo-adv-equipment {
	width: 45%;
}
/* new section ends */
/* !Media query tablet end */

/* !Media query Mobile start */
@media only screen and (max-width: 414px) {
	/* carousel start */
	.myCarouselWinterAdventures {
		height: 350px;
		margin: 0 !important;
		width: 100vw !important;
	}
	.title-carousel {
		padding-left: 20px;
	}

	#tignesCarousel,
	.carousel-inner {
		height: 250px;
	}
	/* Carousel end*/

	/* section services start */
	.section-services.mt-5 {
		margin-top: 0 !important;
	}
	/* section services end*/

	/* section accomodation start */
	#services {
		max-width: 90%;
	}
	/* section accomodation end */

	/* new section start */
	/* new section weather */
	.new-section {
		width: 85%;
		flex-direction: column;
	}
	.container-weather-book {
		width: 100%;
		margin-right: 0;
	}
	.card {
		width: 100%;
	}
	#name {
		font-size: 36px;
	}
	.temp,
	.desc {
		font-size: 20px;
	}
	img.icon {
		width: 200px !important;
		height: 150px !important;
	}
	/* new section booking */
	.text-accomodation {
		width: 280px;
		font-size: 30px;
	}
	input,
	select,
	#Book {
		height: 50px;
		margin-bottom: 15px;
		padding-left: 20px;
		font-size: 20px;
	}
	/* new section map */
	.right-section {
		width: 100%;
		margin-left: 0;
	}
	.address-accommodation {
		width: 80%;
	}
	#mapContainer {
		margin: 0 !important;
		width: 350px !important;
	}
	.map-title {
		font-size: 25px;
	}
	.map-tx {
		font-size: 20px;
	}
	element.style {
		width: 70vw !important;
		height: 45vh !important;
	}
	canvas {
		margin: 0 !important;
	}
	/* new section equipment advertisement  */
	.go-packages {
		flex-direction: column;
		margin-top: 50px;
	}
	.adv-equipment {
		width: 80%;
		margin: 0 auto 30px;
	}
	.text-adv-equipment {
		font-size: 25px;
	}

	.link-go-packages {
		font-size: 20px;
	}
	/* new section end */
}
/* Media query Mobile end */
